body {
    background: url(../images/aboutUs.png) no-repeat;
    background-size: cover;
    background-color: #DFCCAA;
}

.aboutUsWrap {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    width: 100%;
    top: 15%;
    position: absolute;
}

.aboutUsWrap .intro {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
}

.aboutUsWrap .intro hr {
    margin: 15px 0;
    border-color: #e6e7ed;
}

.aboutUsWrap .intro .content {
    margin: 0 0 10px;
}

.aboutUsWrap .intro .content p {
    white-space: normal;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

a.txt-small {
    font-size: 1rem;
    color: #00a379;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    /* color: #363f45; */
}

.aboutUsWrap .intro a.btn {
    margin-bottom: 20px;
}

.aboutUsWrap .intro .content h4 {
    box-sizing: border-box;
    font-family: "Microsoft YaHei", 宋体, Tahoma, Helvetica, Arial, 宋体, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(54, 63, 69);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.901961);
}

.aboutUsWrap .intro .content .log {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(54, 63, 69);
    font-family: "Microsoft YaHei", 宋体, Tahoma, Helvetica, Arial, 宋体, sans-serif;
    font-size: 14px;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.901961);
}
.aboutUsWrap .intro .content .log span{
    font-size: 12px;
}