.page-login {
    background: url(../images/bg_day.gif) no-repeat center;
    color: #BDE7ED;
    background-size: cover;
}
.page-login-day {
    background-color: #BDE7ED;
    background-image: url(../images/bg_day.png);
}
